<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Search a movie to rate ! 👀🔎</h1>

    <% if (success) { %>
        <div id="success-message">
            <strong>Your rating has been saved!</strong>
        </div>
    <% } %>

    <br>

    <form action="/search" method="POST">
        <input type="text" name="title" placeholder="(e.g., Interstellar)" required style="width: 200px">
        <br><br>
        <button type="submit" id="search-button">Search</button>
    </form>

    <hr>

    <div class="redirect-links">
        <a href="/">Home Page</a>
        <a href="/search/saved">My Ratings</a>
    </div>

    <br><br>

    <% if (movieData) { %>
        <div class="movie-result">
            <img src="<%= movieData.Poster %>" alt="Poster">
            <div class="movie-info">
                <h2><%= movieData.Title %> (<%= movieData.Year %>)</h2>
                <p><strong>Plot: </strong> <%= movieData.Plot %></p>
                
                <form action="/search/rate" method="POST" onsubmit="return confirm('Are you sure you want to submit this rating?');">
                    <input type = "hidden" name = "title" value="<%= movieData.Title %>">
                    <label><strong>Rating (1-10):</strong></label>
                    <input type="number" name="rating" min="1" max="10" required>
                    <br><br>

                    <label><strong>Brief Review:</strong></label>
                    <textarea name="review" rows="5" cols="40"></textarea>

                    <br><br>
                    <button type="submit" id="save-button">Save Rating</button>
                </form>
            </div>
        </div>
    <% } else if (error) { %>
        <div style="color:red; margin-top: 20px;">
            <h3>Error: <%= error %></h3>
        </div>
    <% } %>

</body>
</html>